.top-line
	position: fixed
	top: 0
	z-index: 5
	background: #fff
.nav-list
	height: 50px
	&__item
		flex: 1
		list-style-type: none
		text-transform: uppercase
		text-align: center
	&__link
		color: $topLine-text-color
		font-size: 1.15em
<<<<<<< HEAD
		text-decoration: underline
		&:hover
			font-size: 1.2em
			font-weight: 600

=======
		text-decoration: none
		&:hover
			font-size: 1.2em
			font-weight: 600
>>>>>>> d5bf3c5283f822fdeb702f3353bd63c6c466e5fa
